<!--###############################################################################
# Arc Welder: Anti-Stutter
#
# A plugin for OctoPrint that converts G0/G1 commands into G2/G3 commands where possible and ensures that the tool
# paths don't deviate by more than a predefined resolution.  This compresses the gcode file sice, and reduces reduces
# the number of gcodes per second sent to a 3D printer that supports arc commands (G2 G3)
#
# Copyright (C) 2020  Brad Hochgesang
# #################################################################################
# This program is free software:
# you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/ArcWelderPlugin/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################-->
<div id="tab_plugin_arc_welder_controls" class="form-horizontal arc-welder">

    <div>
        <div class="row-fluid short-rows">
            <div class="span6">
                <H4 class="no-margin">
                    <a href="#" class="no-underline"
                       data-bind="arc_welder_toggle: { class_showing: 'fa-caret-down', class_hiding: 'fa-caret-right', container: '#arc_welder_current_preprocessor_tasks', toggle_observable: current_tasks_visible }">
                        Processor Tasks
                        <i class="fa fa-spinner fa-spin" data-bind="visible: is_processing"></i>
                        <i class="fa fa-exclamation text-warning" data-bind="visible: queued_not_processing"></i>
                        <i class="fa fa-no-shadow fa-caret-down"></i>
                    </a>
                </H4>
            </div>
            <div class="span6 text-right">
                <a title="Cancel All Tasks"
                   data-bind="click: function(){cancelAllPreprocessing();}, visible: processing_task" style=""><i
                        class="text-error fa fa-times-circle fa-lg"></i></a>
                <a title="Open Arc Welder Settings"
                   data-bind="click: function() {ArcWelder.openArcWelderSettings('settings');}" style=""><i
                        class="fa fa-gear fa-lg"></i></a>
            </div>
        </div>

        <div id="arc_welder_current_preprocessor_tasks">
            <div data-bind="visible: preprocessing_tasks().length == 0">
                <p>There are no gcode files in the queue.</p>
            </div>
            <div data-bind="visible: processing_task">
                <div class="row-fluid">
                    <div class="span12">
                        <Strong>Active Task:</Strong>&nbsp;
                        <a data-bind="click: function(){cancelPreprocessing(processing_task());}" href="#"> <i
                                class="fa fa-times text-error fa-lg"></i></a>
                        <span data-bind="visible: processing_task() && processing_task().task.octoprint_args.print_after_processing"
                              title="Will print after processing is completed.">&nbsp;<i class="fa fa-print fa-lg"></i>&nbsp;</span>
                        <span data-bind="text: processing_task_file_name"></span><span data-bind="visible: progress_source_file_size() > 0">&nbsp;-&nbsp;<span
                            data-bind="text: progress_source_file_size.formatted"></span></span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12"> <!--Progress Bar-->
                        <div class="progress">
                            <div class="bar"
                                 data-bind="style: {width: progress_percent_complete().toString()+'%'}"
                                 style="margin:0; width: 100%"></div>
                            <span data-bind="text: progress_percent_complete().toString()+'%'"></span>
                        </div>
                    </div>
                </div>
                <div class="short-rows" data-bind="visible: progress_percent_complete()>0">
                    <div class="row-fluid" data-bind="visible: progress_percent_complete()==100">
                        <div class="span4 text-right"></div>
                        <div class="span8">
                            <p>Saving file and processing results...</p>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4 text-right"><strong>Time Remaining:</strong></div>
                        <div class="span8">
                            <span data-bind="text: progress_seconds_remaining.formatted"></span>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4 text-right"><strong>Time Elapsed:</strong></div>
                        <div class="span8">
                            <span data-bind="text: progress_seconds_elapsed.formatted"></span>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4 text-right"><strong>Arcs:</strong></div>
                        <div class="span8">
                            Created <span data-bind="text: progress_arcs_created.formatted"></span> from <span
                                data-bind="text: progress_points_compressed.formatted"></span>&nbsp;points
                        </div>
                    </div>
                    <div class="row-fluid" data-bind="visible: progress_num_firmware_compensations() > 0">
                        <div class="span4 text-right"><strong>Firmware Compensations:</strong></div>
                        <div class="span8">
                            <span data-bind="text: progress_num_firmware_compensations.formatted"></span>&nbsp;arcs aborted
                        </div>
                    </div>
                    <div class="row-fluid" data-bind="visible: progress_arcs_aborted_by_flowrate() > 0">
                        <div class="span4 text-right"><strong >Flowrate Changes:</strong></div>
                        <div class="span8">
                            <span data-bind="text: progress_arcs_aborted_by_flowrate.formatted"></span>&nbsp;arcs aborted
                        </div>
                    </div>
                    <div class="row-fluid" data-bind="visible: progress_num_gcode_length_exceptions() > 0">
                        <div class="span4 text-right"><strong>GCode Length Exceptions:</strong></div>
                        <div class="span8">
                            <span data-bind="text: progress_num_gcode_length_exceptions.formatted"></span>&nbsp;arcs aborted
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4 text-right"><strong>Target/Source Extrusions:</strong></div>
                        <div class="span8">
                            <span data-bind="text: progress_target_file_total_count.formatted"></span>
                            &#8260;
                            <span data-bind="text: progress_source_file_total_count.formatted"></span>
                            =&nbsp;<span data-bind="text: Math.abs(progress_total_count_reduction_percent())"></span>%
                            <span data-bind="text: progress_total_count_reduction_percent() < 0 ? 'reduction' : (progress_total_count_reduction_percent() > 0 ? 'increase' : 'unchanged')"></span>
                        </div>
                    </div>
                    <div class="row-fluid" data-bind="visible: progress_source_file_total_travel_count()> 0">
                        <div class="span4 text-right"><strong>Target/Source Travels:</strong></div>
                        <div class="span8">
                            <span data-bind="text: progress_target_file_total_travel_count.formatted"></span>
                            &#8260;
                            <span data-bind="text: progress_source_file_total_travel_count.formatted"></span>
                            =&nbsp;<span data-bind="text: Math.abs(progress_total_travel_count_reduction_percent())"></span>%
                            <span data-bind="text: progress_total_travel_count_reduction_percent() < 0 ? 'reduction' : (progress_total_travel_count_reduction_percent() > 0 ? 'increase' : 'unchanged')"></span>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4 text-right"><strong>Compression:</strong></div>
                        <div class="span8">
                            <span data-bind="text: progress_compression_ratio"></span>&#8758;1 (<span
                                data-bind="text: progress_compression_percent"></span>%)
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4 text-right"><strong>File Size:</strong></div>
                        <div class="span8">
                            <span data-bind="text: progress_source_position.formatted"></span> - <span
                                data-bind="text: progress_space_saved.formatted"></span> = <span
                                data-bind="text: progress_target_file_size.formatted"></span>
                        </div>
                    </div>
                </div>
                <div class="short-rows" data-bind="visible: progress_percent_complete()==0">
                    <p>Loading Statistics <i class="fa fa-spinner fa-spin"></i></p>
                </div>

            </div>
            <div data-bind="visible: queued_tasks().length > 0">
                <h5>Queued for Processing</h5>
                <ol data-bind="foreach: queued_tasks">
                    <li class="queued-task">
                        <a data-bind="click: function(){$parent.cancelPreprocessing($data);}" href="#"
                           title="Remove from Queue"><i class="fa fa-times text-error"></i></a>
                        <span data-bind="visible: $data.task.octoprint_args.print_after_processing"
                              title="Will print after processing is completed.">&nbsp;<i class="fa fa-print"></i>&nbsp;
                        </span>
                        <span data-bind="text: $data.task.octoprint_args.source_name"></span>

                    </li>
                </ol>
            </div>
            <hr/>
        </div>
    </div>
    <H4>
        <a id="arc_welder_show_statistics" href="#" class="no-underline"
           data-bind="arc_welder_toggle: { class_showing: 'fa-caret-down', class_hiding: 'fa-caret-right', container: '#arc-welder-stats-container', toggle_observable: file_statistics_visible }">
            File Statistics
            <i class="fa fa-no-shadow fa-caret-down"></i>
        </a>
    </H4>
    <div id="arc-welder-stats-container">
        <div id="arc-welder-no-stats-div" data-bind="visible: !statistics_available()">
            <div data-bind="visible: is_selected_file_welded">
                <h5>Statistics Unavailable for <span data-bind="text:selected_filename"></span></h5>
                <p>The selected file was welded, but contains no statistics. It may have been welded before being
                    uploaded into OctoPrint, or the metadata was lost somehow.</p>
            </div>
            <div data-bind="visible: !is_selected_file_welded() && selected_filename()">
                <h5><a href="javaScript:void(0)" class="no-click no-underline">No Arc Welding Detected.</a></h5>
                <p>Either '<span data-bind="text:selected_filename"></span>' has not been processed by Arc Welder,
                    or the comments added by Arc Welder have been stripped from the gcode.</p>
            </div>
            <div data-bind="visible: !is_selected_file_welded() && !selected_filename()">
                <h5>No File Selected</h5>
            </div>

        </div>
        <div id="arc-welder-stats" data-bind="visible: statistics_available" class="short-rows">
            <div class="row-fluid">
                <div class="span12">
                    <h5>Arc-Welder Statistics for <span data-bind="text:selected_filename_title"></span> File</h5>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4 text-right"><strong>Source File:</strong></div>
                <div class="span8">
                    <sapn data-bind="text:statistics_source_name, attr:{title:statistics_source_name}"></sapn>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4 text-right"><strong>Target File:</strong></div>
                <div class="span8">
                    <sapn data-bind="text:statistics_target_display_name, attr:{title:statistics_target_display_name}"></sapn>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4 text-right"><strong>Arcs:</strong></div>
                <div class="span8">
                    Created <span data-bind="text: statistics_arcs_created.formatted"></span> from <span
                        data-bind="text: statistics_points_compressed.formatted"></span> extrusions
                </div>
            </div>
            <div class="row-fluid" data-bind="visible: statistics_num_firmware_compensations() > 0">
                <div class="span4 text-right"><strong>Firmware Compensations:</strong></div>
                <div class="span8">
                    <span data-bind="text: statistics_num_firmware_compensations.formatted"></span>&nbsp;arcs aborted
                </div>
            </div>
            <div class="row-fluid" data-bind="visible: statistics_num_gcode_length_exceptions() > 0">
                <div class="span4 text-right"><strong>GCode Length Exceptions:</strong></div>
                <div class="span8">
                    <span data-bind="text: statistics_num_gcode_length_exceptions.formatted"></span>&nbsp;arcs aborted
                </div>
            </div>
            <div class="row-fluid" data-bind="visible: statistics_arcs_aborted_by_flowrate() > 0">
                <div class="span4 text-right"><strong>Flowrate Changes:</strong></div>
                <div class="span8">
                    <span data-bind="text: statistics_arcs_aborted_by_flowrate.formatted"></span>&nbsp;arcs aborted
                </div>
            </div>

            <div class="row-fluid">
                <div class="span4 text-right"><strong>Target/Source Extrusions:</strong></div>
                <div class="span8">
                    <span data-bind="text: statistics_target_file_total_count.formatted"></span>
                    &#8260;
                    <span data-bind="text: statistics_source_file_total_count.formatted"></span>
                    =&nbsp;<span data-bind="text: Math.abs(statistics_total_count_reduction_percent())"></span>%
                    <span data-bind="text: statistics_total_count_reduction_percent() < 0 ? 'reduction' : (statistics_total_count_reduction_percent() > 0 ? 'increase' : 'unchanged')"></span>
                </div>
            </div>
            <div class="row-fluid" data-bind="visible: statistics_target_file_total_travel_count()">
                <div class="span4 text-right"><strong>Target/Source Travels:</strong></div>
                <div class="span8">
                    <span data-bind="text: statistics_target_file_total_travel_count.formatted"></span>
                    &#8260;
                    <span data-bind="text: statistics_source_file_total_travel_count.formatted"></span>
                    =&nbsp;<span data-bind="text: Math.abs(statistics_total_travel_count_reduction_percent())"></span>%
                    <span data-bind="text: statistics_total_travel_count_reduction_percent() < 0 ? 'reduction' : (statistics_total_travel_count_reduction_percent() > 0 ? 'increase' : 'unchanged')"></span>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4 text-right"><strong>Compression:</strong></div>
                <div class="span8">
                    <span data-bind="text: statistics_compression_ratio"></span>&#8758;1 (<span
                        data-bind="text: statistics_compression_percent"></span>%)
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4 text-right"><strong>File Size:</strong></div>
                <div class="span8">
                    <span data-bind="text: statistics_source_file_size.formatted"></span> - <span
                        data-bind="text: statistics_space_saved_string"></span> = <span
                        data-bind="text: statistics_target_file_size.formatted"></span>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4 text-right"><strong>Line Count:</strong></div>
                <div class="span8">
                    <span data-bind="text: statistics_lines_processed.formatted"></span> - <span
                        data-bind="text: statistics_points_compressed.formatted"></span> = <span
                        data-bind="text: statistics_target_file_lines"></span>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4 text-right"><strong>Processing Time:</strong></div>
                <div class="span8">
                    <span data-bind="text: statistics_seconds_elapsed.formatted"></span>
                </div>
            </div>
            <div class="row-fluid" data-bind="visible: statistics_source_file_total_count()">
                <div class="span4 text-right">
                    <strong>Extrusion/Retraction Detail:</strong>
                </div>
                <div class="span8 text-center">
                    <pre class="text-center statistics-text" data-bind="text: statistics_segment_statistics_text"></pre>
                </div>
            </div>
            <div class="row-fluid" data-bind="visible: statistics_source_file_total_travel_count()">
                <div class="span4 text-right">
                    <strong>Travel Detail:</strong>
                </div>

                <div class="span8 text-center" data-bind="visible: statistics_source_file_total_travel_count() != statistics_target_file_total_travel_count()">
                    <pre class="text-center statistics-text" data-bind="text: statistics_segment_travel_statistics_text"></pre>
                </div>
                <div class="span8 text-center" data-bind="visible: statistics_source_file_total_travel_count() == statistics_target_file_total_travel_count()">
                    <pre class="text-center statistics-text">No travel moves were converted to arcs.  This is normal for a 3d print.</pre>
                </div>
            </div>
        </div>
        <hr/>
    </div>
    <div data-bind="visible: plugin_settings.feature_settings.check_firmware() != ArcWelder.CHECK_FIRMWARE_DISABLED">
        <H4>
            <a href="#" class="no-underline"
               data-bind="arc_welder_toggle: { class_showing: 'fa-caret-down', class_hiding: 'fa-caret-right', container: '#arc_welder_firmware_compatibility', toggle_observable: firmware_compatibility_visible }, css: {'text-error':firmware_info.has_errors(), 'text-warning': !firmware_info.has_errors() && firmware_info.has_warnings()}">
                Firmware Compatibility&nbsp;<i
                    data-bind="visible: firmware_info.has_errors() || firmware_info.has_warnings()"
                    class="fa fa-exclamation">&nbsp;</i><i class="fa fa-no-shadow fa-caret-down"></i>
            </a>
        </H4>
        <div id="arc_welder_firmware_compatibility">
            <div data-bind="visible: !firmware_info.loaded()">
                <p class="text-error"><strong>Firmware Info Loading</strong></p>
                <p>Please wait while firmware info loads.</p>
            </div>
            <div data-bind="visible: firmware_info.loaded() && firmware_info.success()===null">
                <p class="text-error"><strong>No Firmware Info Available</strong></p>
                <p>Please check your firmware by clicking the <strong>Check Firmware</strong> button.</p>
            </div>
            <div id="arc_welder_firmware_info"
                 data-bind="visible: (firmware_info.success() || firmware_info.success() === null)">
                <div class="short-rows row-fluid">
                    <div class="span4">
                        <button type="button" class="btn btn-small full-width"
                                data-bind="click: function(){firmware_info.checkFirmware();}, disable: firmware_info.checking_firmware() || !firmware_info.loaded()"
                                title="Check your firmware for compatibility with Arc Welder.">
                            <i class="fa fa-spinner fa-spin"
                               data-bind="visible: firmware_info.checking_firmware"></i><span>Check Firmware</span>
                        </button>
                    </div>
                    <div class="span8">
                        <div class="text-success"
                             data-bind="visible: !(firmware_info.has_errors() || firmware_info.has_warnings())">
                            Your firmware is good to go!
                        </div>
                        <div data-bind="visible: firmware_info.has_errors() || firmware_info.has_warnings()">
                            <p data-bind="visible: firmware_info.has_errors()"
                               class="text-error">
                                Your firmware may have issues running gcode produced by Arc Welder. You may need to
                                alter firmware settings or upgrade to a newer version.
                            </p>
                            <p data-bind="visible: !firmware_info.has_errors()"
                               class="text-warning">
                                Your firmware may have issues running gcode produced by Arc Welder.
                            </p>
                        </div>

                    </div>
                </div>

                <div class="short-rows">
                    <div class="row-fluid">
                        <div class="span4 text-right"><strong>Name:</strong></div>
                        <div class="span8">
                            <span data-bind="text: firmware_info.type() ?? 'unknown'"></span>
                            <a class="arc_welder_help"
                               data-bind="visible: firmware_info.type_help_file, attr: {'data-help-url': firmware_info.type_help_file, 'data-help-title': (firmware_info.type() + ' Firmware Help')}"></a>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4 text-right"><strong>Version:</strong></div>
                        <div class="span8">
                            <span data-bind="text: firmware_info.version() ?? 'unknown'"></span>
                            <a class="arc_welder_help"
                               data-bind="visible: firmware_info.version_help_file, attr: {'data-help-url': firmware_info.version_help_file, 'data-help-title': (firmware_info.type() + ' ' + firmware_info.version() + ' Help')}"></a>
                            <a class="arc_welder_help"
                               data-bind="visible: firmware_info.previous_version_help_file, attr: {'data-help-url': firmware_info.previous_version_help_file, 'data-help-title': (firmware_info.type() + ' Previous Version Help')}"></a>
                        </div>
                    </div>
                    <div class="row-fluid" data-bind="visible: firmware_info.build_date() !== null">
                        <div class="span4 text-right"><strong>Build Date:</strong></div>
                        <div class="span8"><span data-bind="text: firmware_info.build_date()"></span></div>
                    </div>
                    <div>
                        <div class="row-fluid">
                            <div class="span4 text-right"><strong>Supported:</strong></div>
                            <div class="span8">
                                <span data-bind="text: firmware_info.supported.formatted, attr: {class: firmware_info.supported.class}"></span>
                            </div>
                        </div>
                    </div>
                    <div data-bind="visible: firmware_info.supported() !== false || firmware_info.arcs_enabled() === true">
                        <div data-bind="visible: firmware_info.known_issues().length>0">
                            <div class="row-fluid">
                                <div class="span4 text-right"><strong>Known Issues:</strong></div>
                                <div class="span8">
                                    <ul data-bind="foreach: firmware_info.known_issues">
                                        <li data-bind="text: $data" class="text-warning">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row-fluid">
                            <div class="span4 text-right"><strong>Arcs Supported:</strong></div>
                            <div class="span8">
                                <span data-bind="text: firmware_info.g2_g3_supported.formatted, attr: {class: firmware_info.g2_g3_supported.class}"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row-fluid">
                            <div class="span4 text-right"><strong>3D-Arcs Supported:</strong></div>
                            <div class="span8">
                                <span data-bind="text: firmware_info.g2_g3_z_parameter_supported.formatted, attr: {class: firmware_info.g2_g3_z_parameter_supported.class}"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row-fluid">
                            <div class="span4 text-right"><strong>Arcs Enabled:</strong></div>
                            <div class="span8">
                                <span data-bind="text: firmware_info.arcs_enabled.formatted, attr: {class: firmware_info.arcs_enabled.class}"></span>
                            </div>
                        </div>
                    </div>
                    <div data-bind="visible: firmware_info.notes">
                        <div class="row-fluid">
                            <div class="span4 text-right"><strong>Notes:</strong></div>
                            <div class="span8">
                                <span data-bind="text: firmware_info.notes"></span>
                            </div>
                        </div>
                    </div>
                    <div data-bind="visible: firmware_info.is_future">
                        <div class="row-fluid">
                            <div class="span4 text-right"><strong>Newer Version:</strong></div>
                            <div class="span8">
                                <span>This firmware is newer than the most recent version in the Firmware Library.  Some info may be outdated.</span>
                            </div>
                        </div>
                    </div>
                    <div data-bind="visible: firmware_info.previous_notes">
                        <div class="row-fluid">
                            <div class="span4 text-right"><strong>Notes:</strong></div>
                            <div class="span8">
                                <span data-bind="text: firmware_info.previous_notes.notes"></span>
                            </div>
                        </div>
                    </div>
                    <div data-bind="visible: firmware_info.has_errors">
                        <div class="row-fluid">
                            <div class="span4 text-right"><strong>Errors:</strong></div>
                            <div class="span8">
                                <ul class="text-error" data-bind="foreach: firmware_info.errors">
                                    <li data-bind="text: $data"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div data-bind="visible: firmware_info.warnings().length > 0">
                        <div class="row-fluid">
                            <div class="span4 text-right"><strong>Warnings:</strong></div>
                            <div class="span8">
                                <ul data-bind="foreach: firmware_info.warnings">
                                    <li class="text-warning" data-bind="text: $data"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4 text-right">
                            <strong>Last Check On:</strong>
                        </div>
                        <div class="span8"><span data-bind="text: firmware_info.last_check_datetime"></span></div>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
    </div>
    <div data-bind="visible: plugin_settings.feature_settings.current_run_configuration_visible">
        <H4>
            <a href="#" class="no-underline"
               data-bind="arc_welder_toggle: { class_showing: 'fa-caret-down', class_hiding: 'fa-caret-right', container: '#arc_welder_current_run_configuration', toggle_observable: run_configuration_visible }">
                Current Run Configuration <i class="fa fa-no-shadow fa-caret-down"></i>
            </a>
        </H4>
        <div id="arc_welder_current_run_configuration" class="short-rows">
            <div data-bind="visible: plugin_settings.enabled">
                <div class="row-fluid">
                    <div class="span4 text-right">
                        <strong>Plugin Status:</strong>
                    </div>
                    <div class="span8">
                        Enabled
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 text-right">
                        <strong>Pre-Processing Types:</strong>
                    </div>
                    <div class="span8">
                        <span data-bind="text: file_processing_setting_name"></span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 text-right">
                        <strong>G90 Influences Extruder:</strong>
                    </div>
                    <div class="span8">
                        <span data-bind="visible: plugin_settings.use_octoprint_settings"><span
                                data-bind="text: settings.settings.feature.g90InfluencesExtruder"></span> (using octoprint settings)</span>
                        <span data-bind="visible: !plugin_settings.use_octoprint_settings()"><span
                                data-bind="text: plugin_settings.g90_g91_influences_extruder() ? 'True' : 'False' "></span></span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 text-right">
                        <strong>Allow 3D Arcs:</strong>
                    </div>
                    <div class="span8">
                        <span data-bind="text: plugin_settings.allow_3d_arcs() ? 'True' : 'False'"></span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 text-right">
                        <strong>Allow Travel Arcs:</strong>
                    </div>
                    <div class="span8">
                        <span data-bind="text: plugin_settings.allow_travel_arcs() ? 'True' : 'False'"></span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 text-right">
                        <strong>Resolution:</strong>
                    </div>
                    <div class="span8">
                        <span data-bind="text: plugin_settings.resolution_mm"></span>mm&nbsp;(max deviation <strong>&#177;<span
                            data-bind="text:  plugin_settings.resolution_mm()/2.0"></span>mm</strong>)
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 text-right">
                        <strong>Path Tolerance:</strong>
                    </div>
                    <div class="span8">
                        <span data-bind="text: plugin_settings.path_tolerance_percent"></span>%
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 text-right">
                        <strong>Extrusion Rate Variance:</strong>
                    </div>
                    <div class="span8">
                        <span data-bind="text: plugin_settings.extrusion_rate_variance_percent"></span>%
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 text-right">
                        <strong>Dynamic GCode Precision:</strong>
                    </div>
                    <div class="span8">
                        <span data-bind="text: plugin_settings.allow_dynamic_precision() ? 'Enabled' : 'Disabled'"></span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 text-right">
                        <strong>Default XYZ Precision:</strong>
                    </div>
                    <div class="span8">
                        <span data-bind="text: default_xyz_precision"></span> decimal places
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 text-right">
                        <strong>Default E Precision:</strong>
                    </div>
                    <div class="span8">
                        <span data-bind="text: default_e_precision"></span> decimal places
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 text-right">
                        <strong data-bind="css: {'text-warning': plugin_settings.max_radius_mm() < 999 || plugin_settings.max_radius_mm() > 9999}">Maximum
                            Arc Radius:</strong>
                    </div>
                    <div class="span8">
                        <span data-bind="text: max_radius_mm_string"></span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 text-right">
                        <strong data-bind="css: {'text-warning': plugin_settings.max_gcode_length() > 0 && plugin_settings.max_gcode_length() < 55}">Maximum
                            GCode Length:</strong>
                    </div>
                    <div class="span8">
                        <span data-bind="text: max_gcode_length_string"></span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 text-right">
                        <strong>Firmware Compensation:</strong>
                    </div>
                    <div class="span8">
                        <div class="text-warning" data-bind="visible: firmware_compensation_enabled">
                            <span data-bind="text: plugin_settings.mm_per_arc_segment"></span>mm per arc, at minimum
                            <span data-bind="text: plugin_settings.min_arc_segments"></span> segments per full circle
                        </div>
                        <div data-bind="visible: !firmware_compensation_enabled()">
                            Disabled
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 text-right">
                        <strong>Output File Name:</strong>
                    </div>
                    <div class="span8">
                        <span data-bind="visible: overwrite_source_file">Gcode files will be overwritten after processing.</span>
                        <div data-bind="visible: !overwrite_source_file()">
                            <span data-bind="visible: plugin_settings.target_prefix() != ''">
                                <strong><span data-bind="text: plugin_settings.target_prefix"></span></strong>
                            </span>source_file_name<span
                                data-bind="visible: plugin_settings.target_postfix() != ''"><strong><span
                                data-bind="text: plugin_settings.target_postfix"></span></strong></span>.gcode
                        </div>

                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 text-right">
                        <strong>Delete Source File:</strong>
                    </div>
                    <div class="span8">
                        <div data-bind="visible: overwrite_source_file">
                            <span>The source file will be overwritten, based on other the other plugin settings.</span>
                        </div>
                        <div data-bind="visible: !overwrite_source_file()">
                            <span data-bind="text: source_file_delete_setting_name"></span>
                        </div>

                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 text-right">
                        <strong>Print After Processing:</strong>
                    </div>
                    <div class="span8">
                        <span data-bind="text: print_file_setting_name"></span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 text-right">
                        <strong>Select After Processing:</strong>
                    </div>
                    <div class="span8">
                        <span data-bind="text: select_file_setting_name"></span>
                    </div>
                </div>
            </div>
            <div data-bind="visible: !plugin_settings.enabled()">
                <dl class="row-fluid">
                    <div class="span4 text-right"><strong>Plugin Status:</strong></div>
                    <div class="span8">
                        Disabled - All processing is disabled, but statistics will still be visible.
                    </div>
                </dl>
            </div>
            <hr/>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <small>
                <a href="javascript:void(0)" data-bind="click: function() {ArcWelder.openArcWelderSettings('about');}"
                   title="About Arc Welder"><i class="fa fa-info-circle">&nbsp;About</i></a>
                &nbsp;<a href="https://github.com/FormerLurker" target="_blank" title="FormerLurker&#146;s Github Page"><i
                    class="fa fa-github">&nbsp;Github</i></a>
                &nbsp;<a href="https://youtube.com/c/FormerLurker" target="_blank"
                         title="FormerLurker&#146;s YouTube Channel"><i class="fa fa-youtube">&nbsp;YouTube</i></a>
                &nbsp;<a href="https://paypal.me/formerlurker" target="_blank" title="Donate via PayPal"><i
                    class="fa fa-paypal">&nbsp;PayPal</i></a>
                &nbsp;<a href="https://www.patreon.com/bePatron?u=9588101" target="_blank" title="Become a patron"><i
                    class="fa fa-patreon">&nbsp;Patreon</i></a>
            </small>
        </div>
        <div class="span6 text-right muted">
            <a target="_blank" data-bind="visible: github_link() != null, attr: { href: github_link}">
                Arc Welder&nbsp;<i data-bind="text:version_text"></i>
            </a>
            <span data-bind="visible: github_link() == null">
                    <small>
                        Arc Welder&nbsp;<i data-bind="text:version_text"></i>
                    </small>
                </span>
        </div>
    </div>
</div>