<!--###############################################################################
# Arc Welder: Anti-Stutter
#
# A plugin for OctoPrint that converts G0/G1 commands into G2/G3 commands where possible and ensures that the tool
# paths don't deviate by more than a predefined resolution.  This compresses the gcode file sice, and reduces reduces
# the number of gcodes per second sent to a 3D printer that supports arc commands (G2 G3)
#
# Copyright (C) 2020  Brad Hochgesang
# #################################################################################
# This program is free software:
# you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/ArcWelderPlugin/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################-->
<div id="tab_plugin_arc_welder_controls" class="form-horizontal">
    <H4>Current Run Configuration</H4>
    <div data-bind="visible: plugin_settings.enabled">

        <div class="row-fluid">
            <div class="span4 text-right">
                <strong>Plugin Status:</strong>
            </div>
            <div class="span8">
                Enabled
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4 text-right">
                <strong>Pre-Processing Types:</strong>
            </div>
            <div class="span8">
                <span data-bind="visible: auto_pre_processing_enabled() && !manual_pre_processing_enabled()">Automatic Processing Only</span>
                <span data-bind="visible: !auto_pre_processing_enabled() && manual_pre_processing_enabled()">Manual Processing Only</span>
                <span data-bind="visible: auto_pre_processing_enabled() && manual_pre_processing_enabled()">Automatic and Manual Processing Enabled</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4 text-right">
                <strong>Resolution:</strong>
            </div>
            <div class="span8">
                <span data-bind="text: plugin_settings.resolution_mm"></span>mm
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4 text-right">
                <strong>Maximum Arc Radius:</strong>
            </div>
            <div class="span8">
                <span data-bind="text: plugin_settings.max_radius_mm"></span>mm
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4 text-right">
                <strong>Output File:</strong>
            </div>
            <div class="span8">
                <span data-bind="visible: plugin_settings.overwrite_source_file">Gcode files will be overwritten after processing.</span>
                <div data-bind="visible: !plugin_settings.overwrite_source_file()">
                    <span data-bind="visible: plugin_settings.target_postfix() != '' && plugin_settings.target_prefix() != ''">
                        A new file with a prefix of '<strong><span
                        data-bind="text: plugin_settings.target_prefix"></span></strong>' and a postfix of '<strong><span data-bind="text: plugin_settings.target_postfix"></span></strong>'  will be added after pre-processing is completed
                    </span>
                    <span data-bind="visible: plugin_settings.target_postfix() == '' && plugin_settings.target_prefix() != ''">
                        A new file with a prefix of '<strong><span
                        data-bind="text: plugin_settings.target_prefix"></span></strong>' will be added after pre-processing is completed
                    </span>
                    <span data-bind="visible: plugin_settings.target_postfix() != '' && plugin_settings.target_prefix() == ''">
                        A new file with a postfix of '<strong><span data-bind="text: plugin_settings.target_postfix"></span></strong>'  will be added after pre-processing is completed
                    </span>
                    <span data-bind="visible: plugin_settings.target_postfix() == '' && plugin_settings.target_prefix() == ''" class="text-error">
                        No postfix or prefix was entered, so the source file will be overwritten!  Edit the settings and add a prefix or postfix.
                    </span>
                </div>

            </div>
        </div>
        <div class="row-fluid">
            <div class="span4 text-right">
                <strong>G90 Influences Extruder:</strong>
            </div>
            <div class="span8">
                <span data-bind="visible: plugin_settings.use_octoprint_settings"><span
                        data-bind="text: settings.settings.feature.g90InfluencesExtruder"></span> (using octoprint settings)</span>
                <span data-bind="visible: !plugin_settings.use_octoprint_settings()"><span
                        data-bind="text: plugin_settings.g90_g91_influences_extruder"></span></span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4 text-right">
                <strong>Source File Deletion:</strong>
            </div>
            <div class="span8">
                <div data-bind="visible: plugin_settings.overwrite_source_file() || (plugin_settings.target_postfix() == '' && plugin_settings.target_prefix() == '')">
                    <span>The source file will be overwritten, based on other the other plugin settings.</span>
                </div>
                <div data-bind="visible: !(plugin_settings.overwrite_source_file() || (plugin_settings.target_postfix() == '' && plugin_settings.target_prefix() == ''))">
                    <span data-bind="text: source_file_delete_description"></span>
                </div>

            </div>
        </div>

    </div>
    <div data-bind="visible: !plugin_settings.enabled()">
        <dl class="row-fluid">
            <div class="span4 text-right"><strong>Plugin Status:</strong></div>
            <div class="span8">
                Disabled - Arc Welder is completely disabled
            </div>
        </dl>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <p>
                <button id="arc-welder-show-statistics-btn" class="btn" data-bind="click: showHideStatsBtnClicked" style="display:none;">Show Stats</button>
            </p>
        </div>
        <div class="span6 text-right">
            <p>
                <button class="btn btn-primary" data-bind="click: function() {ArcWelder.openArcWelderSettings('settings');}"
                    title="Open Arc Welder settings">
                Edit Settings
            </button>
            </p>
        </div>
    </div>
    <div id="arc-welder-stats-container" style="display:none;">
        <div id="arc-welder-stats" style="display:none;">
            <hr>
            <div class="row-fluid">
                <div class="span12">
                    <h4>Arc-Welder Statistics for <span data-bind="text:selected_filename_title"> File</span> File</h4>
                </div>
            </div>

            <div id="arc-welder-no-stats-div" class="row-fluid" style="display:none;">
                <div class="span12">
                    <div data-bind="visible: selected_file_is_new()" class="full-width  text-center">
                        <span>Loading Statistics</span>
                        <span class="fa-1x">
                            <i class="fa fa-spinner fa-spin"></i>
                        </span>
                    </div>
                    <div data-bind="visible: !selected_file_is_new()" class="span12">
                        File: <span data-bind="text:selected_filename, attr:{title:selected_filename}"></span><br/>
                        <p>This file was previously processed with ArcWelder, but no statistics are available.</p>
                    </div>
                </div>

            </div>
            <div id="arc-welder-stats-text-div" style="display:none;">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="row-fluid">
                            <div class="span3 text-right">
                                <strong>Source:</strong>
                            </div>
                            <div class="span9 overflow-ellipsis">
                                <sapn data-bind="text:statistics.source_filename, attr:{title:statistics.source_filename}"></sapn>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3 text-right">
                                <strong>Lines:</strong>
                            </div>
                            <div class="span9">
                                <span data-bind="text: statistics.lines_processed"></span>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3 text-right">
                                <strong>Size:</strong>
                            </div>
                            <div class="span9">
                                <span data-bind="text: statistics.source_file_size"></span>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="row-fluid">
                            <div class="span3 text-right">
                                <strong>Target:</strong>
                            </div>
                            <div class="span9 overflow-ellipsis">
                                <span data-bind="text:selected_filename, attr:{title:selected_filename}"></span>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span3 text-right">
                                <strong>Lines:</strong>
                            </div>
                            <div class="span9">
                                <span data-bind="text: statistics.lines_processed() - statistics.points_compressed()"></span>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3 text-right">
                                <strong>Size:</strong>
                            </div>
                            <div class="span9">
                                <span data-bind="text: statistics.target_file_size"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <h5>Compression</h5>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <div class="row-fluid">
                            <div class="span6 text-right">
                                <strong>Points Compressed:</strong>
                            </div>
                            <div class="span6">
                                <span data-bind="text: statistics.points_compressed"></span>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="row-fluid">
                            <div class="span6 text-right">
                                <strong>Arcs Created:</strong>
                            </div>
                            <div class="span6">
                                <span data-bind="text: statistics.arcs_created"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <div class="row-fluid">
                            <div class="span6 text-right">
                                <strong>Ratio:</strong>
                            </div>
                            <div class="span6">
                                <span data-bind="text: statistics.compression_ratio"></span>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="row-fluid">
                            <div class="span6 text-right">
                                <strong>Compression:</strong>
                            </div>
                            <div class="span6">
                                <span data-bind="text: statistics.compression_percent"></span>%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <h5>Segment Length Statistics</h5>
                        <pre class="text-center" data-bind="text: statistics.segment_statistics_text"></pre>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <small>
                <a href="javascript:void(0)" data-bind="click: function() {ArcWelder.openArcWelderSettings('about');}"
                   title="About Arc Welder"><i class="fa fa-info-circle">&nbsp;About</i></a>
                &nbsp;<a href="https://github.com/FormerLurker" target="_blank" title="FormerLurker&#146;s Github Page"><i
                    class="fa fa-github">&nbsp;Github</i></a>
                &nbsp;<a href="https://youtube.com/c/FormerLurker" target="_blank"
                         title="FormerLurker&#146;s YouTube Channel"><i class="fa fa-youtube">&nbsp;YouTube</i></a>
                &nbsp;<a href="https://paypal.me/formerlurker" target="_blank" title="Donate via PayPal"><i
                    class="fa fa-paypal">&nbsp;PayPal</i></a>
                &nbsp;<a href="https://www.patreon.com/bePatron?u=9588101" target="_blank" title="Become a patron"><i
                    class="fa fa-patreon">&nbsp;Patreon</i></a>
            </small>
        </div>
        <div class="span6 text-right muted">
            <a target="_blank" data-bind="visible: github_link() != null, attr: { href: github_link}">
                Arc Welder&nbsp;<i data-bind="text:version_text"></i>
            </a>
            <span data-bind="visible: github_link() == null">
                    <small>
                        Arc Welder&nbsp;<i data-bind="text:version_text"></i>
                    </small>
                </span>
        </div>
    </div>
</div>