<!--###############################################################################
# Arc Welder: Anti-Stutter
#
# A plugin for OctoPrint that converts G0/G1 commands into G2/G3 commands where possible and ensures that the tool
# paths don't deviate by more than a predefined resolution.  This compresses the gcode file sice, and reduces reduces
# the number of gcodes per second sent to a 3D printer that supports arc commands (G2 G3)
#
# Copyright (C) 2020  Brad Hochgesang
# #################################################################################
# This program is free software:
# you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/ArcWelderPlugin/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################-->
<div id="arc_welder_settings" class="arc-welder">
    <h4>Anti Stutter Plugin Settings</h4>
    <div id="arc_welder_settings_nav" class="row-fluid">
        <div class="span12">
            <ul class="nav nav-pills">
                <li class="dropdown pull-right tabdrop hide">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-align-justify"></i>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu"></ul>
                </li>
                <li class="active">
                    <a href="#arc_welder_settings_tab" data-toggle="tab" data-settings-tab="settings">Settings</a>
                </li>
                <li>
                    <a href="#arc_welder_about_tab" data-toggle="tab" data-settings-tab="about">About</a>
                </li>
            </ul>
            <div class="tab-content short-rows">
                <div id="arc_welder_settings_tab" class="tab-pane active">
                    <form class="form-horizontal" onsubmit="return false;">
                        <fieldset>
                            <legend>Preprocessor Settings</legend>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_enabled"><strong>Arc Welder
                                    Enabled</strong></label>
                                <div class="controls">
                                    <input class="input-text" type="checkbox" id="arc_welder_enabled"
                                           data-bind="checked: plugin_settings().enabled">
                                    <a class="arc_welder_help" data-help-url="settings.enabled.md"
                                       data-help-title="Enable/Disable Arc Welder"></a>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_resolution_mm"><strong>Resolution</strong></label>
                                <div class="controls">
                                    <div>
                                        <div class="input-append">
                                            <input class="input-small" required="true" type="number" min="0.001" max="0.1"
                                                   step="0.001" id="arc_welder_resolution_mm"
                                                   data-bind="value: plugin_settings().resolution_mm">
                                            <span class="add-on">mm</span>
                                        </div>
                                        (max deviation&nbsp;<strong>&#177;<span data-bind="text:  plugin_settings().resolution_mm()/2.0"></span>mm</strong>)
                                        <a class="arc_welder_help" data-help-url="settings.resolution_mm.md"
                                           data-help-title="Arc Resolution in MM"></a>

                                    </div>
                                </div>

                            </div>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_resolution_mm"><strong>Path Tolerance</strong></label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input class="input-small" required="true" type="number" min="0.1" max="5"
                                               step="0.1" id="arc_welder_path_percent_tolerance"
                                               data-bind="value: plugin_settings().path_tolerance_percent">
                                        <span class="add-on">%</span>
                                    </div>
                                    <a class="arc_welder_help" data-help-url="settings.path_percent_tolerance.md"
                                       data-help-title="Path Tolerance Percent"></a>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_max_radius_mm"><strong>Maximum Arc
                                    Radius</strong></label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input class="input-small" required="true" type="number" min="1" max="1000000"
                                               step="1" id="arc_welder_max_radius_mm"
                                               data-bind="value: plugin_settings().max_radius_mm">
                                        <span class="add-on">mm</span>
                                    </div>
                                    <a class="arc_welder_help" data-help-url="settings.max_radius_mm.md"
                                       data-help-title="Max Arc Radius in MM"></a>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_allow_z_axis_changes"><strong>Allow 3D Arcs (for vase mode)</strong></label>
                                <div class="controls">
                                    <input class="input-text" type="checkbox"
                                           id="arc_welder_allow_z_axis_changes"
                                           data-bind="checked: plugin_settings().allow_z_axis_changes">
                                    <a class="arc_welder_help" data-help-url="settings.allow_z_axis_changes.md"
                                       data-help-title="Allow 3D Arcs (for vase mode)"></a><br/>
                                    <span class="label label-important">WARNING</span> This setting is experimental, and not all firmware that supports arcs will support z axis changes.
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_file_processing">
                                    <strong>File Processing Type</strong>
                                </label>
                                <div class="controls">
                                    <select class="input-xlarge" id="arc_welder_file_processing" data-bind="options: ArcWelder.FILE_PROCESSING_OPTIONS,
                                        optionsText: 'name',
                                        optionsValue: 'value',
                                        value: plugin_settings().feature_settings.file_processing"></select>
                                    <a class="arc_welder_help" data-help-url="settings.file_processing.md"
                                       data-help-title="File Processing Options"></a>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Output File Settings</legend>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_overwrite_source_file"><strong>Overwrite
                                    Source File</strong></label>
                                <div class="controls">
                                    <input class="input-text" type="checkbox" id="arc_welder_overwrite_source_file"
                                           data-bind="checked: plugin_settings().overwrite_source_file">
                                    <a class="arc_welder_help" data-help-url="settings.overwrite_source_file.md"
                                       data-help-title="Overwrite Source File"></a>
                                </div>
                            </div>
                            <div class="control-group" data-bind="visible: !plugin_settings().overwrite_source_file()">
                                <label class="control-label" for="arc_welder_target_prefix"><strong>Target File
                                    Prefix</strong></label>
                                <div class="controls">
                                    <input required="true" class="input-small" type="text"
                                           id="arc_welder_target_prefix"
                                           data-bind="value: plugin_settings().target_prefix">
                                    <a class="arc_welder_help" data-help-url="settings.target_prefix.md"
                                       data-help-title="Target File Prefix"></a>
                                </div>
                            </div>
                            <div class="control-group" data-bind="visible: !plugin_settings().overwrite_source_file()">
                                <label class="control-label" for="arc_welder_target_postfix"><strong>Target File
                                    Postfix</strong></label>
                                <div class="controls">
                                    <input required="true" class="input-small" type="text"
                                           id="arc_welder_target_postfix"
                                           data-bind="value: plugin_settings().target_postfix">
                                    <a class="arc_welder_help" data-help-url="settings.target_postfix.md"
                                       data-help-title="Target File Postfix"></a>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_print_after_processing">
                                    <strong>Print After Processing</strong>
                                </label>
                                <div class="controls">
                                    <select class="input-xlarge" id="arc_welder_print_after_processing" data-bind="options: ArcWelder.PRINT_AFTER_PROCESSING_OPTIONS,
                                        optionsText: 'name',
                                        optionsValue: 'value',
                                        value: plugin_settings().feature_settings.print_after_processing"></select>
                                    <a class="arc_welder_help" data-help-url="settings.print_after_processing.md"
                                       data-help-title="Print After Processing"></a>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_select_after_processing">
                                    <strong>Select After Processing</strong>
                                </label>
                                <div class="controls">
                                    <select class="input-xlarge" id="arc_welder_select_after_processing" data-bind="options: ArcWelder.SELECT_FILE_AFTER_PROCESSING_OPTIONS,
                                        optionsText: 'name',
                                        optionsValue: 'value',
                                        value: plugin_settings().feature_settings.select_after_processing"></select>
                                    <a class="arc_welder_help" data-help-url="settings.select_after_processing.md"
                                       data-help-title="Print After Processing"></a>

                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Source File Options</legend>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_source_file_delete"><strong>Source File Deletion</strong></label>
                                <div class="controls">
                                    <select class="input-xlarge" id="arc_welder_source_file_delete" data-bind="options: ArcWelder.SOURCE_FILE_DELETE_OPTIONS,
                                        optionsText: 'name',
                                        optionsValue: 'value',
                                        value: plugin_settings().feature_settings.delete_source"></select>
                                    <a class="arc_welder_help" data-help-url="settings.delete_source.md"
                                       data-help-title="Source File Deletion Options"></a>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Printer Settings</legend>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_use_octoprint_settings">
                                    <strong>Use OctoPrint Settings</strong>
                                </label>
                                <div class="controls">
                                    <input class="input-text" type="checkbox" id="arc_welder_use_octoprint_settings"
                                           data-bind="checked: plugin_settings().use_octoprint_settings">
                                    <a class="arc_welder_help" data-help-url="settings.use_octoprint_settings.md"
                                       data-help-title="Use OctoPrint Settings"></a>
                                </div>
                            </div>
                            <div class="control-group" data-bind="visible: !plugin_settings().use_octoprint_settings()">
                                <label class="control-label" for="arc_welder_g90_g91_influences_extruder"><strong>G90/G91
                                    Influence Extruder</strong></label>
                                <div class="controls">
                                    <input class="input-text" type="checkbox"
                                           id="arc_welder_g90_g91_influences_extruder"
                                           data-bind="checked: plugin_settings().g90_g91_influences_extruder">
                                    <a class="arc_welder_help" data-help-url="settings.g90_g91_influences_extruder.md"
                                       data-help-title="G90/G91 Influences Extruder"></a>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_check_firmware"><strong>Check Firmware</strong></label>
                                <div class="controls">
                                    <select class="input-xlarge" id="arc_welder_check_firmware" data-bind="options: ArcWelder.CHECK_FIRMWARE_OPTIONS,
                                        optionsText: 'name',
                                        optionsValue: 'value',
                                        value: plugin_settings().feature_settings.check_firmware"></select>
                                    <a class="arc_welder_help" data-help-url="settings.check_firmware.md"
                                       data-help-title="Check Firmware Options"></a>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_check_for_updates"><strong>Firmware Library</strong></label>
                                <div class="controls">
                                    <button type="button" id="arc_welder_check_for_updates" class="btn"
                                        data-bind="
                                        click: function(){firmware_info.checkForFirmwareInfoUpdates();},
                                        disable: (firmware_info.checking_for_firmware_info_updates() || !firmware_info.loaded())"
                                        title="Check for new firmware information from the repository.">
                                        <i class="fa fa-spinner fa-spin" data-bind="visible: firmware_info.checking_for_firmware_info_updates"></i>
                                        <span>Check for Updates</span>
                                    </button>
                                    <a class="arc_welder_help" data-help-url="settings.check_for_updates.md"
                                       data-help-title="Check For Firmware Library Updates"></a>
                                    <br/>

                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_firmware_types_version"><strong>Library Version</strong></label>
                                <div class="controls">
                                    <span data-bind="text:firmware_info.firmware_types_info().version"></span></br>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_last_checked_date"><strong>Last Check Date</strong></label>
                                <div class="controls">
                                    <span data-bind="text:firmware_info.firmware_types_info().last_checked_date"></span><span data-bind="visible: !firmware_info.firmware_types_info().last_check_success"> - Failed</span></br>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Firmware Compensation</legend>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_min_arc_segments"><strong>Minimum Arc Segments</strong></label>
                                <div class="controls">
                                    <input class="input-small" required="true" type="number" min="0" max="100000"
                                           step="1" id="arc_welder_min_arc_segments"
                                           data-bind="value: plugin_settings().min_arc_segments">
                                    <a class="arc_welder_help" data-help-url="settings.min_arc_segments.md"
                                       data-help-title="Minimum Arc Segments"></a>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_mm_per_arc_segment"><strong>MM Per Arc Segment</strong></label>
                                <div class="controls">
                                    <input class="input-small" required="true" type="number" min="0" max="100000"
                                           step="0.01" id="arc_welder_mm_per_arc_segment"
                                           data-bind="value: plugin_settings().mm_per_arc_segment">
                                    <a class="arc_welder_help" data-help-url="settings.mm_per_arc_segment.md"
                                       data-help-title="MM Per Arc Segment"></a>
                                </div>
                            </div>
                            <p><span class="label label-important">Warning</span> Do not adjust the setting in this section unless you are compensating for known firmware issues.  In most cases all of the settings above should be set to 0.</p>
                        </fieldset>
                        <fieldset>
                            <legend>Tab Options</legend>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_current_run_configuration_visible"><strong>Show
                                    Show Current Run Configuration</strong></label>
                                <div class="controls">
                                    <input class="input-text" type="checkbox" id="arc_welder_current_run_configuration_visible"
                                           data-bind="checked: plugin_settings().feature_settings.current_run_configuration_visible">
                                    <a class="arc_welder_help" data-help-url="settings.current_run_configuration_visible.md"
                                       data-help-title="Show Current Run Configuration"></a>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Notification Settings</legend>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_show_queued_notification"><strong>Show
                                    Task Queued Notification</strong></label>
                                <div class="controls">
                                    <input class="input-text" type="checkbox" id="arc_welder_show_queued_notification"
                                           data-bind="checked: plugin_settings().notification_settings.show_queued_notification">
                                    <a class="arc_welder_help" data-help-url="settings.show_queued_notification.md"
                                       data-help-title="Show Task Queued Notification"></a>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_show_started_notification"><strong>Show
                                    Pre-Processing Started Notification</strong></label>
                                <div class="controls">
                                    <input class="input-text" type="checkbox" id="arc_welder_show_started_notification"
                                           data-bind="checked: plugin_settings().notification_settings.show_started_notification">
                                    <a class="arc_welder_help" data-help-url="settings.show_started_notification.md"
                                       data-help-title="Show Pre-Processing Started Notification"></a>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="arc_welder_show_completed_notification"><strong>Show
                                    Pre-Processing Completed Notification</strong></label>
                                <div class="controls">
                                    <input class="input-text" type="checkbox"
                                           id="arc_welder_show_completed_notification"
                                           data-bind="checked: plugin_settings().notification_settings.show_completed_notification">
                                    <a class="arc_welder_help" data-help-url="settings.show_completed_notification.md"
                                       data-help-title="Show Pre-Processing Completed Notification"></a>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Logging</legend>
                            <div class="text-center">
                                <button type="button" class="btn btn-large"
                                        data-bind="click: function(){clearLog(false);}"
                                        title="Clear the most recent log."><i class="icon-trash"></i>Clear Log&hellip;
                                </button>
                                <button type="button" class="btn btn-large"
                                        data-bind="click: function(){clearLog(true);}"
                                        title="Clear the most recent log and deletes any log file backups (up to 3)."><i
                                        class="icon-trash"></i>Clear All Logs&hellip;
                                </button>
                                <a class="btn btn-large" title="Download the most recent logfile."
                                   data-bind="attr: {href: '/plugin/arc_welder/downloadFile?type=log&apikey=' + UI_API_KEY}"
                                   download="">
                                    <i class="fa fa-download"></i> Download Log
                                </a>
                            </div>
                            <br/>
                            <div class="control-group">
                                <a class="muted"
                                   data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#arc_welder_advanced_settings.hide' }">
                                    <i class="fa fa-no-shadow fa-caret-right"></i> {{ _('Advanced Logging Settings') }}
                                </a>
                            </div>
                            <div id="arc_welder_advanced_settings" class="hide">
                                <p>
                                    <span class="label label-important">Warning</span> Debug or Verbose logging of the
                                    arc_welder.gcode_conversion module will take a log of time and will result in a huge
                                    log file. Only enable debug or verbose logging for the arc_welder.gcode_conversion
                                    module if you are trying to debug an issue, and <strong>don't forget to disable
                                    it</strong> when you are finished.</span>
                                </p>
                                <div data-bind="visible:  plugin_settings().logging_configuration.enabled_loggers().length == 0"
                                     class="text-warning text-center">
                                    No loggers are enabled. Only exceptions will be logged.
                                </div>
                                <div data-bind="visible:  plugin_settings().logging_configuration.enabled_loggers().length > 0">
                                    <div class="row-fluid">
                                        <div class="span5">
                                            Module to Log
                                        </div>
                                        <div class="span5">
                                            Logging Level
                                        </div>
                                        <div class="span2">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div data-bind="visible:  plugin_settings().logging_configuration.enabled_loggers().length > 0, foreach: plugin_settings().logging_configuration.enabled_loggers">
                                        <div class="row-fluid" style="margin-bottom:5px;">
                                            <div class="span5">
                                                <select data-bind="options: $parent.plugin_settings().logging_configuration.enabled_loggers,
                                                    optionsText: 'name',
                                                    optionsValue: 'name',
                                                    value: name" disabled></select>
                                            </div>
                                            <div class="span5">
                                                <select data-bind="options: $parent.data.logging_levels,
                                                    optionsText: 'name',
                                                    optionsValue: 'value',
                                                    value: log_level"></select>
                                            </div>
                                            <div class="span2">
                                                <a title="Delete" class="btn btn-danger"
                                                   data-bind="click: $parent.removeLogger"><i
                                                        class="icon-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-bind="visible:  plugin_settings().logging_configuration.enabled_loggers().length > 0">
                                        <hr/>
                                    </div>
                                    <div data-bind="visible: available_loggers().length > 0">
                                        <div class="row-fluid">
                                            <div class="span5">
                                                Add Logging to a Module
                                            </div>
                                            <div class="span5">
                                                Logging Level
                                            </div>
                                            <div class="span2">
                                                &nbsp;
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <select id="arc_welder_available_loggers" name="available_loggers"
                                                        data-bind="options: available_loggers_sorted,
                                            optionsText: 'name',
                                            optionsValue: 'name',
                                            value: logger_name_add"></select>
                                            </div>
                                            <div class="span5">
                                                <select id="logging_profile_logging_level"
                                                        name="logging_profile_logging_level"
                                                        data-bind="options: data.logging_levels,
                                            optionsText: 'name',
                                            optionsValue: 'value',
                                            value: logger_level_add"></select>
                                            </div>
                                            <div class="span2">
                                                <a title="Add" class="btn btn-primary" data-bind="click: addLogger"><i
                                                        class="icon-plus"></i></a>
                                            </div>
                                        </div>
                                        <div data-bind="visible: available_loggers().length === 0" class="text-center">
                                            All available loggers are enabled.
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="arc_welder_log_to_console"><strong>Log to
                                        Console</strong></label>
                                    <div class="controls">
                                        <input class="input-text" type="checkbox" id="arc_welder_log_to_console"
                                               data-bind="checked: plugin_settings().logging_configuration.log_to_console">
                                        <span class="help-inline "><span class="label label-important">Warning</span> This will only have an effect if you are developing this plugin, otherwise leave it unchecked.</span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row-fluid">
                            <div class="span6">

                            </div>
                            <div class="span6 text-right">
                                <p>
                                    <button class="btn btn-large" data-bind="click: restoreDefaultSettings">Restore
                                        Default Settings
                                    </button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="arc_welder_about_tab" class="tab-pane" data-bind="template:'arc_welder_settings_about'">
                    <div data-bind="template:'arc_welder_settings_about'"></div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <p>
                    <span class="label label-important">USE AT YOUR OWN RISK</span> Arc Welder is still in development
                    and may contain errors that could affect your prints. Please be safe and don't leave your printer
                    unattended!
                </p>
            </div>
        </div>
    </div>
</div>
{% include "arc_welder_settings_about.jinja2" %}